# Foundational Data Science
pandas>=2.2.0
numpy>=1.26.0
scikit-learn>=1.4.0
matplotlib>=3.8.0

# App & Utilities
joblib>=1.3.0
streamlit>=1.32.0

# OCR & Image Processing
pillow>=10.2.0
pytesseract>=0.3.10
opencv-python-headless>=4.9.0
